// Define variables for your color scheme

// For example:
$light-blue: #66D7D1;
$dark-blue: #403D58;
$yellow: #DBD56E;
$orange: #FC7753;
$gray: #0E0000;
$light-gray: #F2EFEA;


// Just for debugging
$blue: blue;
$green: green;
$red: red;
// Please review colors above
