<div class="banner">
  <div class="container">
    <h2>Received a wedding invite?</h2>
    <h2><strong>Single AF?</strong></h2>
    <h2>Solution, rent a +1!</h2>
    <br>
    <a class="btn btn-warning btn-lg" href="#">Find your +1</a>
  </div>
</div>
