<div class="event-host-bio d-flex col-8">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="event-host-bio-info">
    <h2>ADD USERNAME HEREY</h2>
    <p></p>
  </div>
</div>
