<div class="details">
    <h4>ADD EVENT TITLE HEREY</h4>
    <p><%= @event.location %></p>
    <p><%= @event.date %></p>
    <p><%= @event.description %></p>
    <p><%= @event.compensation %></p>
  </div>
