<div class="event-host-bio d-flex col-9">
  <%= cl_image_tag @event.user.photo.key, width: 120, height: 120, crop: :thumb, gravity: :face %>
  <div class="event-host-bio-info">
    <h2><%= @event.user.first_name %> <%= @event.user.last_name %></h2>
    <p> <%= @event.user.bio %> </p>
  </div>
</div>
