<div class="card d-flex flex-wrap">
  <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Event Title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to "View Event", new_user_registration_path, class: "btn btn-warning" %>
  </div>
</div>
