<div class="home-banner">
  <div class="container">
    <h2>RECEIVED A WEDDING INVITE?</h2>
    <h2><strong>SINGLE AF?</strong></h2>
    <h2>SOLUTION... RENT A +1!</h2>
    <br>
    <%= link_to "Find your +1", new_user_registration_path, class: "btn btn-dark btn-lg" %>
  </div>
</div>
