<div class="container">
  <div class="category-container">
    <div class="carousel">
      <% categories = Event.pluck(:category).uniq %>
      <% categories.each do |category| %>
      <%= link_to events_path(query: category) do%>
        <% category_with_hyphen = category.gsub(" ", "-") %>
        <div id="<%= category_with_hyphen %>" class="item">

          <h1><%= category %></h1>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="cards-container" style="margin-top: 5%;">
    <div class="event-cards category-event-cards" id="each-item">
      <% @events.each do |event| %>
        <%= render "shared/event_card", event: event %>
      <% end %>
    </div>
  </div>
</div>
