<div class="container">

  <%= render "shared/title_bar" %>

  <div class="main-image d-flex justify-content-center align-items-center col-12">
    <img src="https://placehold.co/900x600" alt="main image">
  </div>

  <%= render "shared/event_details" %>

  <%= render "shared/event_host_bio" %>
</div>
