<%= render "shared/title_bar" %>
<div class="container w-75">

  <div class="main-image d-flex justify-content-center align-items-center col-12">
    <img style="width: 100%" src="https://placehold.co/900x600" alt="main image">
  </div>

  <div class="event-info d-flex">
    <%= render "shared/event_details" %>
    <%= render "shared/event_host_bio" %>
  </div>
</div>
