// .event-cards-long {
//   display: flex;
//   align-items: center;
//   margin-top: 25px;
// }

.event-card-long {
  background-color: #FFFFFF;
  display: flex;
  width: 600px;
  height: 200px;
  margin: 0px 10px 15px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.event-card-long-image {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.event-card-long-right {
  width: 100%;
  padding: 10px;
}

.event-card-long-name {
  margin-top: 0;
}

.event-card-long-location,
.event-card-long-date,
.event-card-long-category {
  margin: 5px 0;
}
