.event-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.event-card {
  background-color: #FFFFFF;
  width: 300px;
  margin: 0px 10px 15px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 0;
}

.event-details {
  padding: 10px;
}

.event-name {
  margin-top: 0;
}

.event-location,
.event-date,
.event-category {
  margin: 5px 0;
}





//Dashboard event-status cards

.event-card.approved {
  background-color: #FFFFFF;
  margin: 0px 0px 15px 0px;
}

.relative-status {
  position: relative;
}

.badge-corner:empty {
  display: inline-block;
}
.badge-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 66px solid #888;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-left: 66px solid transparent;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.badge-corner span {
  position: absolute;
  top: -52px;
  left: -28px;
  font-size: 16px;
  color: #fff;
}
.badge-corner-base {
  border-top-color: #3498db;
}
.badge-corner-attending {
  border-top-color: #9cd70e;
}
.badge-corner-confirmed {
  border-top-color: #9cd70e;
}
.badge-corner-light span {
  color: #2c3e50;
}
.badge-corner-dark {
  border-top-color: #131313;
}
.badge-corner-orange {
  border-top-color: #ff8a3c;
}

.event-card.pending{
  background-color: orange;
}
