.home-banner {
  background-image: asset-url("home-banner.jpg");
  background-size: cover;
  height: 650px;
  background-position: center;
  padding: 170px 0;
}

.home-banner h2 {
  margin: 0;
  color: $dark-blue;
  text-shadow: 2px 2px 5px rgba(240, 240, 240, 0.8);
  font-size: 54px;
  font-weight: bold;
}

.home-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
