.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h3 {
  font-family: $headers-font;
}

.left-side {
  display: block;
}

.navbar {
  position: sticky;
  top: 0;
}


.navbar-lewagon a {
  text-decoration: none;
}

.navbar-lewagon a {
  text-decoration: none;
}
